
  
.navPrimaryContainer h1{
    font-family: "Integral CF";
    font-size: 25.2px;
    
}

.navPrimaryContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    gap: 1rem;
  }

.icon{
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.hamburguer{
    width: 24px;
    height: 3px;
    background-color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    position: relative;
}

.hamburguer::before,
.hamburguer::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: black;
  transition: 0.5s;
}

.hamburguer::before {
    top: -10px;
  }

  .hamburguer::after {
    top: 10px;
  }

.iconActive .hamburguer {
    background: transparent;
  }

.iconActive .hamburguer::before {
    top: 0;
    transform: rotate(45deg);
  }
  
.iconActive .hamburguer::after {
    top: 0;
    transform: rotate(-45deg);
  }

  .menuOpen {
    
    width: 250px;
    height: 100vh;
    background-color: black;
    box-shadow: 10px 0px 69px 0px rgba(0, 0, 0, 0.59);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    transition: 0.3s ease-in-out;
  }

  .menuClose {
    display: none;
  }
  
  .nav_list {
    list-style: none;
    padding: 0;
  }

  .nav_list li {
    margin: 15px 0;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .nav_list li:hover {
    font-weight: bold;
  }

  .navListDesktop{
    display: none;
  }

  @media (min-width: 768px) {
    .navMobile {
      display: none;
    }
    .navListDesktop{
        display: block;
      }
  }
