.input{
  display: none;
}
.title{
  font-family: "Integral CF";
  font-size: 25px;
}
.title>h1 a{
  text-decoration: none;
  color: var(--bg-primary);
}

.navBar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px 3%;
  gap: 10px;
}

.navItems{
  display: flex;
  gap: 32px;
  align-items: center;
  list-style: none;

}


@media (min-width: 768px){
  .input{
    display: block;
  }
}
